---
import { AppType } from "../../data/types";
const { params } = Astro;
const { websiteType } = params;
import { SupportingInfo } from "../../data/supporting-info";

const types = Object.values(AppType).map((value) => value);
---

<style>
  .choice {
    border: 1px solid green;
    margin-bottom: 1rem;
    display: block;
    padding: 0 1rem 1rem 1rem;
    text-decoration: none;
      background: white;
  }

  .examples {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .details {
    margin-bottom: 2rem;
  }
</style>

<h1>Do you need your website to maintain state across multiple pages?</h1>

{
  types.map((type) => (
    <a class="choice" href={`${websiteType}/${type.toLowerCase()}`}>
      <h3>{SupportingInfo.appType[type].answerToAppTypeQuestion}</h3>
      <div class="examples">
        <small>Things like:</small>
        {SupportingInfo.appType[type].examples.map((example: string) => (
          <small>{example}</small>
        ))}
      </div>
    </a>
  ))
}

<div class="details">
  <h2>What is state?</h2>
  <p>
    State is what a thing is currently like. The current state of your house is made up of all the furniture, objects,
    animals, plants, and people inside it, and other environmental factors such as the temperature and whether you need
    to do the washing up. The current state of a piece of software includes all the data held about that application in
    a browser at any one time.
  </p>
</div>
