<section
  class="py-16 bg-gradient-to-r from-transparent to-green-300 dark:to-green-900 shadow-sm"
>
  <h1 class="font-display text-5xl text-center tracking-wider">
    Wahat the Framework
  </h1>
</section>
