---
const { headline, supporting } = Astro.props;
---

<style>
  .question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background: var(--blue-dark);
    backdrop-filter: blur(1.25rem);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-decoration: none;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    color: var(--offwhite);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .headline {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: calc(32 / 24);
  }

  .supporting {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: calc(32 / 24);
    margin-top: 2rem;
  }
</style>

<div class="question">
  <h1 class="headline">{headline}</h1>
  {supporting ? <h2 class="supporting">{supporting}</h2> : ""}
</div>
