---
import { WebsiteType } from "../../data/types";
import { SupportingInfo } from "../../data/supporting-info";
const types = Object.values(WebsiteType).map((value) => value);
---

<h1 class="text-3xl m-8 text-center">What type of website are you building?</h1>
{
  types.map((type) => (
    <a
      class="block m-4 mx-auto bg-slate-100 dark:bg-slate-800 shadow-md rounded-md w-10/12 sm:w-8/12"
      href={type.toLowerCase()}
    >
      <p class="text-xl p-4">{SupportingInfo.websiteType[type].description}</p>
      <div class="flex gap-4 p-4">
        {SupportingInfo.websiteType[type].examples.map((example: string) => (
          <small>{example}</small>
        ))}
      </div>
    </a>
  ))
}
