---
import { WebsiteType } from "../../data/types";
import { SupportingInfo } from "../../data/supporting-info";
import AnswerCard from "../AnswerCard.astro";
import QuestionCard from "./QuestionCard.astro";
const types = Object.values(WebsiteType).map((value) => value);
---

<style>
  @media screen and (min-width: 50rem) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

<QuestionCard question={`What type of website are you building?`} />

<div class="grid">
  {
    types.map((type) => (
      <AnswerCard
        href={type.toLowerCase()}
        answer={SupportingInfo.websiteType[type].description}
        examples={SupportingInfo.websiteType[type].examples}
        stretchCard={true}
      />
    ))
  }
</div>
