---
import { WebsiteType } from "../../data/types";
import { SupportingInfo } from "../../data/supporting-info";
const types = Object.values(WebsiteType).map((value) => value);
---

<h1 class="text-3xl text-center">What type of website are you building?</h1>
<div class="container mx-auto w-11/12 grid md:grid-cols-3 gap-8">
  {
    types.map((type) => (
      <a
        class="col-span-1 card-effects flex flex-col justify-around items-center p-4"
        href={type.toLowerCase()}
      >
        <div class="mb-8">
          <p class="text-lg ">{SupportingInfo.websiteType[type].description}</p>
        </div>
        <div class="flex flex-wrap gap-2">
          {SupportingInfo.websiteType[type].examples.map((example: string) => (
            <span
              class="border border-gray-500 border-opacity-50 hover:border-opacity-100
            rounded-2xl transition-all duration-200
            hover:bg-gray-400 dark:hover:bg-gray-500 bg-opacity-50
            "
            >
              <small class="text-xs p-4">{example}</small>
            </span>
          ))}
        </div>
      </a>
    ))
  }
</div>
