---
import { WebsiteType } from "../../data/types";
import { SupportingInfo } from "../../data/supporting-info";
const types = Object.values(WebsiteType).map((value) => value);
---

<style>
  @media screen and (min-width: 50rem) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

<h1>What type of website are you building?</h1>

<div class="grid">
  {
    types.map((type) => (
      <a class="card" href={type.toLowerCase()}>
        <p>{SupportingInfo.websiteType[type].description}</p>
        <div class="card__examples">
          {SupportingInfo.websiteType[type].examples.map((example: string) => (
            <small class="card__examplesPill">{example}</small>
          ))}
        </div>
      </a>
    ))
  }
</div>
