---
import { WebsiteType } from "../../data/types";
import { SupportingInfo } from "../../data/supporting-info";
const types = Object.values(WebsiteType).map((value) => value);
---

<style>
  .choice {
    border: 1px solid green;
    margin-bottom: 1rem;
    display: block;
    padding: 0 1rem 1rem 1rem;
    text-decoration: none;
    background: white;
  }

  .examples {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
</style>

<h1>What type of website are you building?</h1>
{
  types.map((type) => (
    <a class="choice" href={type.toLowerCase()}>
      <p>{SupportingInfo.websiteType[type].description}</p>
      <div class="examples">
        {SupportingInfo.websiteType[type].examples.map((example: string) => (
          <small>{example}</small>
        ))}
      </div>
    </a>
  ))
}
