---
import Main from "../layouts/Main.astro";
import WebsiteType from "../components/questions/WebsiteType.astro";
import Hero from "../components/hero.astro";
---

<Main>
  <Hero />
  <WebsiteType />
</Main>
