---
import type { Framework } from "../data/types";
import FrameworkCard from "./FrameworkCard.astro";

const { options } = Astro.props;
---

<style>
  .options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 1rem;
  }
</style>

<div>
  <h2>Choose from these now!</h2>
  <ul class="options">
    {options?.map((option: Framework) => <FrameworkCard data={option} />)}
  </ul>
</div>
