---
import type { Framework } from "../data/types";
import FrameworkCard from "./FrameworkCard.astro";

const { options } = Astro.props;
---

<div>
  <h2>Choose from these now!</h2>
  {options?.map((option: Framework) => <FrameworkCard data={option} />)}
</div>
