---
import Icon from "astro-icon";
---

<a
  href="/"
  class="flex justify-center gap-4 p-4 rounded-3xl text-lg shadow-md bg-gray-500/50 hover:bg-gray-500/75 hover:shadow-lg"
>
  <Icon name="carbon:drill-back" class="h-8" />
  Start over
</a>
