---
import Icon from "astro-icon";
---

<a
  href="/"
  class="flex justify-center items-center gap-4 px-8 py-4 rounded-full text-lg shadow-md bg-gray-500/50 hover:bg-gray-500/75 hover:shadow-lg"
>
  <Icon name="carbon:drill-back" class="h-8" />
  Start over
</a>
