---
import StartOver from "../components/StartOver.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>What the Framework?</title>
  </head>
  <body>
    <main>
      <slot />

      <div style="margin-top: 100px;">
        <StartOver />
      </div>
    </main>
  </body>
</html>
