---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <style is:global>
      :root {
        --black: #1b1b1b;
        --grey-dark: #1d2939;
        --offwhite: #f2f4f7;
        --rainbow1: #ffd20e;
        --rainbow2: #e5bc08;
        --rainbow3: #ec8401;
        --rainbow4: #e65c04;
        --rainbow5: #e52e06;
        --rainbow6: #de006b;
        --rainbow7: #ca039e;
        --rainbow8: #a203cb;
        --rainbow9: #6d01c9;
        --rainbow10: #22008f;
        --rainbow11: #062f9a;
        --rainbow12: #0045ac;
        --rainbow13: #007db2;
        --rainbow14: #00b8d9;

        --card-text-color: var(--grey-dark);
        --card-bg: radial-gradient(73.46% 87.33% at 0% 0%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%),
          linear-gradient(125deg, rgba(255, 255, 255, 0.8) 0%, rgba(229, 217, 236, 0.8) 100%);
        --card-pill-bg: var(--offwhite);
        --card-pill-mix-blend-mode: multiply;
        --card-focus-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #00ffaa;

        --card-logo-bg-color: var(--offwhite);

        --card-padding: 2rem;
        --card-border-radius: 2rem;

        --card-link-text-color: #475467;
        --card-link-text-color-hover: #1d2939;

        --card-link-bg-hover: var(--offwhite);
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --card-text-color: var(--offwhite);
          --card-bg: rgba(52, 64, 84, 0.6);

          --card-pill-bg: rgba(16, 24, 40, 0.8);
          --card-pill-mix-blend-mode: normal;

          --card-focus-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #00ffaa;

          --card-link-text-color: #d0d5dd;
          --card-link-text-color-hover: #1d2939;
          --card-link-text-color-active: #1d2939;

          --card-link-bg-hover: var(--offwhite);
          --card-link-bg-active: #d0d5dd;
        }
      }

      * {
        box-sizing: border-box;
        margin: 0;
      }

      html {
        font-size: 100%;
      }

      body {
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
          "Open Sans", "Helvetica Neue", sans-serif;
        margin: 0;
      }

      .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-items: stretch;
        padding: 1rem;
      }
    </style>

    <style>
      :root {
        --header-height: 6.25rem;
      }

      header {
        background-color: var(--black);
        margin: 0;
        height: var(--header-height);
        color: var(--offwhite);
        padding: 1rem;
      }

      main {
        --stop-size: calc(100vh - var(--header-height)) / 14;
        min-height: calc(100vh - var(--header-height));
        background-attachment: fixed;
        background: linear-gradient(
          to bottom,
          var(--rainbow1) calc(var(--stop-size)),
          var(--rainbow2) calc(var(--stop-size)) calc((var(--stop-size)) * 2),
          var(--rainbow3) calc((var(--stop-size)) * 2) calc((var(--stop-size)) * 3),
          var(--rainbow4) calc((var(--stop-size)) * 3) calc((var(--stop-size)) * 4),
          var(--rainbow5) calc((var(--stop-size)) * 4) calc((var(--stop-size)) * 5),
          var(--rainbow6) calc((var(--stop-size)) * 5) calc((var(--stop-size)) * 6),
          var(--rainbow7) calc((var(--stop-size)) * 6) calc((var(--stop-size)) * 7),
          var(--rainbow8) calc((var(--stop-size)) * 7) calc((var(--stop-size)) * 8),
          var(--rainbow9) calc((var(--stop-size)) * 8) calc((var(--stop-size)) * 9),
          var(--rainbow10) calc((var(--stop-size)) * 9) calc((var(--stop-size)) * 10),
          var(--rainbow11) calc((var(--stop-size)) * 10) calc((var(--stop-size)) * 11),
          var(--rainbow12) calc((var(--stop-size)) * 11) calc((var(--stop-size)) * 12),
          var(--rainbow13) calc((var(--stop-size)) * 12) calc((var(--stop-size)) * 13),
          var(--rainbow14) calc((var(--stop-size)) * 13) calc((var(--stop-size)) * 14)
        );
      }

      .wrapper {
        margin: 0 auto;
        height: calc(100vh - var(--header-height));
        overflow-y: scroll;
        max-width: 1184px;
      }
    </style>

    <!-- todo why is html tag disappearing??!?!? -->

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>What the Framework?</title>
  </head>

  <body>
    <header>WTF?! What the framework?</header>
    <main>
      <div class="wrapper">
        <slot />
      </div>
    </main>
  </body>
</html>
