---
---

<style is:global>
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
  }

  body {
    font-size: 1rem;
  }
</style>

<style>
  main {
    max-width: 700px;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
</style>

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>What the Framework?</title>

<body>
  <main>
    <slot />
  </main>
</body>
