---
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!--Initialize Theme -->
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      // Whenever the user explicitly chooses light mode
      localStorage.theme = "light";

      // Whenever the user explicitly chooses dark mode
      localStorage.theme = "dark";

      // Whenever the user explicitly chooses to respect the OS preference
      localStorage.removeItem("theme");
    </script>

    <title>What the Framework?</title>
  </head>
  <body
    class="relative h-full font-sans text-base bg-gray-300 dark:bg-gray-900 text-gray-900 dark:text-gray-50 transition-colors duration-300 ease-linear"
  >
    <Header />
    <slot />
    <style is:global>
      .card {
        @apply bg-gray-100 dark:bg-gray-800 rounded-xl
        shadow-md hover:shadow-xl
        border hover:border-4 border-gray-700 border-opacity-50
        hover:bg-gray-200 dark:hover:bg-gray-700
        hover:-translate-y-1 transform
        transition-all duration-200;
      }
    </style>
  </body>
</html>
